* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans', sans-serif;
  color: white;
  background-color: black;
}
ul {
  list-style-type: none;
}

li {
  padding: 8px;
}
div {
/*barre de recherche*/
  .recherche_p{
    background-color: orange;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    padding: 10px 10px 10px 10px;

  }
  #searchthis #search {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 5px 10px 5px 10px;
    width: 98.5%;
    box-sizing: border-box;
    font-family: serif;
    font-size: 12px;
    font-weight:normal;
    letter-spacing: 1px;
  }
  #searchthis #search-btn {
    background-color: #E8B960;
    border-style: solid;
    border-width: 1px;
    border-color:#E8B960;
    padding: 5px 10px 5px 10px;
    width: 98.5%;
    box-sizing: border-box;
    font-size: PT sans;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;

  }
  #searchthis #search-btn:hover {
    background-color: #ffffff;
    color: #E8B960;
    cursor: pointer;


  }
}
/*code pour l'acceuil*/
.acceuil
{
  height: 15px;
  font-size: 15px;
  color: black;
  background-image: image(fond);
  text-align: center;
}
/*code pour le bouton acceuil*/
.bouton{
  height: 26px;
  font-size: 30px;
  color:red;
  margin-top: 8px;
  padding: 7px;
  float: left;
}
/*code pour la partie profil*/
.profil{
  height: 26px;
  align=center;
  font-size: 30px;
  color: red;
  margin-top: 8px;
  padding: 7px;
  float: right;
}
/*code pour le logo*/
.logo{
  height: 150px;
  margin-left: 750px;

}
/* pour les profils*/
.homme1{
  height: 100px;
  width: 100px;

}




header{
  background-color: white;
  background-repeat: no-repeat;
  height: 200px;
}
footer{
  background-color: black;

}
